#CitySelector li {
  list-style: none;
  display: inline-block;
}

#CitySelector .lives {
  margin: 2px;
  padding: 0;
}

#CitySelector .question {
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

#CitySelector .description {
  display: block;
  border: 1px solid #343434;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

#CitySelector .cities {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0 20px;
  padding: 0;
}

#CitySelector .cities button {
  justify-self: center;
  width: 100px;
  height: 40px;
  margin: 5px;
}