#Stage .playArea {
  padding: 0 20px;
}

#Stage .playArea h1 {
  text-align: center;
}

#Stage .playArea .answers button {
  margin: 5px;
  width: 160px;
  height: 40px;
}

#Stage .playArea .answers button.correct {
  background: forestgreen;
}

#Stage .playArea .answers button.failed {
  background: darkred;
}

#Stage .playArea .answers button.selected {
  background: forestgreen;
}

#Stage .playArea .answers button.correct.selected {
  border: 5px solid yellow;
}